                <td><a href="/beers/beer-<%= beer.id %>"><%= beer.name %></a></td>
                <td><%= beer.description %></td>
                <td><img style="width: 100px" src="<%= beer.image_url %>" alt="<%= beer.name %>"></td>
                <td><%= beer.tagline %></td>